.container {
    height: 100vh;
    overflow: hidden;
}
.left, .right {
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
}

.middle {
    height: 100vh;
    overflow-y: auto;
}

.right::-webkit-scrollbar,.left::-webkit-scrollbar,.middle::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

@media(min-width:1000px){
    .container{
        width: 85%;
    }

    .left{
        width: 23%;
    }

    .middle{
        width:min-content;
    }
}

@media(min-width:1650px){
    .container{
        width: 75%;
    }

    .left{
        width: 22%;
    }
}